RewriteEngine on

RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [L] #[R=301,L]

# 
ErrorDocument 404 aapp/404.php
ErrorDocument 500 aapp/500.php

#
<FilesMatch "\.(?i:gif|jpe?g|png|ico|css|js|swf|mp4|svg)$">

  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=172800, public, must-revalidate"
  </IfModule>

</FilesMatch>

 